body{
    font-family: 'Montserrat', sans-serif;
} 

#titulo{
    background-color: #ff4c68;
    color: #fff;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 3.5rem;
    line-height: 1.5;
}

.contenido-titulo{
    padding: 3% 15%;
}

